* {
  margin: 0;
  padding: 0;
  letter-spacing: 1.5px;
  font-family: monospace;
}
h1 {
  font-family: cursive;
  background-color: #000;
  color: white;
  padding: 12px;
  text-align: center;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  margin: 10vh auto 0;
}

section div {
  padding: 12px 20px;
  text-align: center;
}
textarea {
  padding: 10px;
}
select {
  padding: 4px;
  padding-right: 20px;
}
label {
  font-weight: 900;
  font-size: 18px;
}
@media (max-width: 1170px) {
  section {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  textarea {
    width: 95%;
  }
}
